html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #373737;
}

img {
    width: 100%;
}

ul {
    color: #eee;
    padding-bottom: 5vw;
    width: 100%;
}

li {
    list-style-type: none;
    color: #eee;
    font-family: 'Nunito', sans-serif;
    margin-top: 5vw;
    width: 80%;
}

.banner_ad {
    width: 100%;
    height: 140px;
    color: azure;
    background-color: gray;
}

#set_times {
    margin-top: 5vw;
}

.set_times_link {
    background-color: #E52E3B;
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
    color: #eee;
}

.venue_listing {
    /* background-color: #E52E3B; */
    background-color: #96897B;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.venue_name {
    text-align: center;
    background-color: #628395;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    padding: 2vw;
}

.after_party {
    background-color: #E52E3B;
}

.flower_city_logo_small {
    width: 15%;
}

.top_bar_wrapper {}